@model QLHDCD.Models.BANGYKIEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

@using (Html.BeginForm("Delete", "BangBQYKien", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Thông báo</h3>
        </div>
        <div class="panel-body">
            <p style="text-align:center;font-size:larger;font-weight:bold;">Bạn có chắc chắn muốn xóa ?</p>
            <div class="form-actions no-color" style="text-align:center;">
                <input type="hidden" value="@Model.MAYK" id="id" name="id" />
                <input type="submit" value="Delete" class="btn btn-default" /> 

            </div>
        </div>
    </div>
}
<div>
    <h4>BANGYKIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DHCD.TenDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DHCD.TenDH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNG)
        </dt>

        <dd>
            <div class="form-group">
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea" style="margin: 0px -0.84375px 0px 0px; width: 350px; height: 87px; resize:vertical;">
                        @Html.DisplayFor(model => model.NOIDUNG)
                    </textarea>
                </div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLDONGY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLDONGY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLKHONGDONGY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLKHONGDONGY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLYKKHAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLYKKHAC)
        </dd>

        

    </dl>


        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index")
        </div>
</div>
