@model QLHDCD.Models.DHCD

@{
    ViewBag.Title = "Tạo mới đại hội cổ đông";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tạo mới đại hội cổ đông</h2>

@using (Html.BeginForm("InsertDHCD", "DHCD", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DHCD</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MADH, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.MADH)
                @Html.ValidationMessageFor(model => model.MADH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenDH, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.TenDH)
                @Html.ValidationMessageFor(model => model.TenDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nQKin, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.nQKin)
                @Html.ValidationMessageFor(model => model.nQKin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nQBefore, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.nQBefore)
                @Html.ValidationMessageFor(model => model.nQBefore)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nDeCuHDQT, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.nDeCuHDQT)
                @Html.ValidationMessageFor(model => model.nDeCuHDQT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nUngCuHDQT, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.nUngCuHDQT)
                @Html.ValidationMessageFor(model => model.nUngCuHDQT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nDeCuBKS, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.nDeCuBKS)
                @Html.ValidationMessageFor(model => model.nDeCuBKS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nUngCuBKS, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.nUngCuBKS)
                @Html.ValidationMessageFor(model => model.nUngCuBKS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thoiGian, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.thoiGian)
                @Html.ValidationMessageFor(model => model.thoiGian)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ACTIVE, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.ACTIVE)
                @Html.ValidationMessageFor(model => model.ACTIVE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TONGSOPHIEU, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.TONGSOPHIEU, new {  @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.TONGSOPHIEU)
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2" style="text-align:center;">
                <button type="reset" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở lại danh sách đại hội cổ đông", "Index")
</div>
