@model QLHDCD.Models.DHCD

@{
    ViewBag.Title = "Chi tiết Cổ đông";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết Cổ đông</h2>

<div>
    <h4>Đại hội cổ đông</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nQKin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nQKin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nQBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nQBefore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nDeCuHDQT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nDeCuHDQT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nUngCuHDQT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nUngCuHDQT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nDeCuBKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nDeCuBKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nUngCuBKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nUngCuBKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONGSOPHIEU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGSOPHIEU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "EditDHCD", new { madh = ViewBag.madh }, null) |
    @Html.ActionLink("Trở lại danh sách đại hội cổ đông", "Index")
</p>
