@model IEnumerable<QLHDCD.Models.DHCD>

@{
    ViewBag.Title = "Danh sách đại hội cổ đông";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách đại hội cổ đông</h2>

<p>
    @Html.ActionLink("Tạo mới đại hội cổ đông", "Create")
</p>
<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nQKin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nQBefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nDeCuHDQT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nUngCuHDQT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nDeCuBKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nUngCuBKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thoiGian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TONGSOPHIEU)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nQKin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nQBefore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nDeCuHDQT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nUngCuHDQT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nDeCuBKS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nUngCuBKS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiGian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTIVE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONGSOPHIEU)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "EditDHCD", new { madh = item.MADH }, null) |
                @Html.ActionLink("Chi tiết", "DetailDHCD", new { madh = item.MADH }, null) |
                @Html.ActionLink("Xóa", "DeleteDHCD", new { madh = item.MADH }, null)
            </td>
        </tr>
    }

</table>
