@model QLHDCD.Models.BANGBAUHDQT

@{
    ViewBag.Title = "Chi tiết bầu HĐQT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết bầu HĐQT</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CT_DHCD.DHCD.TenDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_DHCD.DHCD.TenDH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CT_DHCD.CODONG.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_DHCD.CODONG.HoTen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HINHTHUCBAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHTHUCBAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLPHIEUBAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLPHIEUBAU)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
