<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("QLHDCD", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/DHCD/Index">ĐHCD</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cổ đông<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/CoDong/Index">Danh sách cổ đông</a></li>
                            <li><a href="/ThamGiaDH">Đăng ký tham gia đại hội</a></li>
                        </ul>
                    </li>
                    <li><a href="/UyQuyen">Ủy Quyền</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bầu cử<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/BangBauHDQT/Index">Bầu cử thành viên vào HĐQT</a></li>
                            <li class="divider"></li>
                            <li><a href="/BangBauBKS/Index">Bầu cử thành viên vào BKS</a></li>
                            <li class="divider"></li>
                            <li><a href="/BangBQYKien/Index">Biểu quyết ý kiến</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" >
        <div >
        @RenderBody()
        
        </div>
        <hr /> 
            <footer>
                <p>&copy; @DateTime.Now.Year - Website Quản lý đại hội cổ đông của công ty ...</p>
            </footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
